<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XDLogin.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
				<key>dateExpires</key>
				<string>1/28/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MDFTextAccessibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D11CC783458AFDEA4050885F54881DEE50A1F167</string>
						<key>dateExpires</key>
						<string>1/28/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WA6Y7KBQJ</string>
						<key>name</key>
						<string>THE WINDOW SPECIALISTS</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6WA6Y7KBQJ.com.XDLogin</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6WA6Y7KBQJ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6WA6Y7KBQJ.com.XDLogin</string>
				</array>
			</dict>
			<key>name</key>
			<string>XDLogin.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6a55b071-46c2-4060-b282-a052cb94e406</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6WA6Y7KBQJ</string>
				<key>name</key>
				<string>THE WINDOW SPECIALISTS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
